<html>
  <head>
    <title>Task List</title>
    <script type="text/javascript">
      function addrow(){
        //alert('Hi');
        var trow = document.createElement("tr");
        trow.innerHTML = "<td><input type='text' name='task_name'></input></td><td><input type='text' name='task_description'></input></td><td><input type='text' name='addl_info'></input></td><td><input type='file'></input></td><td></td>";
        document.getElementById("input_table").appendChild(trow);
      }
    </script>
  </head>
  <body>
    <div style="align:left; top:40px; left:20px">
    <form action="/tasks" method="post">
      <table style="text-align:left; border:1px; width:75%" id="input_table">
        <thead>
          <th style="width:20%">Task Name</th>
          <th style="width:30%">Task Description</th>
          <th style="width:30%">Additional Information</th>
          <th style="width:15%">Attachments</th>
          <th style="width:5%"></th>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" name="task_name"></input></td>
            <td><input type="text" name="task_description"></input></td>
            <td><input type="text" name="addl_info"></input></td>
            <td><input type="file"></input></td>
            <td><img onclick="addrow()" src="/img/add-icon.png" height=30px width=30px></td>
          </tr>
        </tbody>
      </table>
      <input type="submit" value="Submit">
    </form>
    </div>
  </body>
</html>
